{% extends 'base.html' %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body text-center">
        <h5 class="card-title text-danger mb-3">Confirm Delete</h5>
        <strong>{{job_site.name}}</strong> <br>
        <i class="bi bi-geo-alt"></i>{{job_site.address}}


        <form method="post" class="mt-3">
            <div class="vstack gap-2">
                <button type="submit" class="btn btn-lg btn-danger w-100">
                    <i class="bi bi-trash"></i> Delete
                </button>
                <a href="{{ url_for('job_sites_index') }}" class="btn btn-lg btn-secondary w-100">
                    <i class="bi bi-x"></i> Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}